@font-face {
    font-family: 'Designosaur';
    src: url(font/Designosaur-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html{
    font-size: 16px;
}

body{
    font-family: 'Designosaur', Fallback, sans-serif;
    background-image: linear-gradient(45deg, #e0e0e0 25%, #fcfcfc 25%, #fcfcfc 50%, #e0e0e0 50%, #e0e0e0 75%, #fcfcfc 75%, #fcfcfc 100%);
    background-size: 2.83px 2.83px;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.container-fluid{
    width: 960px !important;
}

.btn{
    border-radius: 20px;
    padding:8px 15px;
    border: 1px solid #F2F5F6;
    position: relative;

    box-shadow: 0px 1px 0.5px rgba(0,0,0,0.15);
}

.btn::after{
    content: "";
    display: block;
    background-color: #F2F5F6;
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border-radius: 40px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn span{
    font-size: 18px;
    
    line-height: 25px;
    font-family: "Designosaur";
}

.btn--orange{
    background-image: linear-gradient(0deg, #ff2600 0%, #ff9700 100%);
}

.btn--orange span{
    color: #ca4500;
    filter: drop-shadow(0px 1px 0px rgba(255,255,255,0.29));
}

.btn--gray {
    background-image: linear-gradient(0deg, #cccccc 0%, #f1f1f1 100%);
}

.btn--gray span{
    filter: drop-shadow(0px 1px 0px rgba(255,255,255,0.29));
    color: #838383;
}

.paragraph{
    font-size: 14px;
    line-height: 18px;
    color: #8c8c8c;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 5px;
    background-color: #fff;
    padding: 20px 10px;
}

.navbar__end span{
    font-size: 18px;
    color: #cd2027;
}

.logo__icon{
    margin-right: 5px;
}

.logo__name{
    font-size: 25px;
    color: #cd2027;
}

.slogan{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #bebebe;
    margin: 0;
    margin-left: 20px;
}

.line-bg{
    background-color: #fcfcfc;
    height: 10px;
    border-bottom: 1px solid #E9E9E9;
}

.header{
    background-color: #fcfcfc;
    padding: 50px 40px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #E9E9E9;
}

.header__title{
    font-size: 32px;
    color: #3c3c3c;
    font-family: "Designosaur";
    margin-bottom: 5px;
}

.header__paragraph{
    margin: 20px 0;
}

.header__buttons{
    margin-top: 5px;
}

.header__buttons > span{
    font-size: 16px;
    line-height: 21px;
    color: #3c3c3c;
    font-family: "Designosaur";
    text-align: center;
    margin: 0 15px;
}

.carousel-control-prev{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top: 50%;
    transform: translate(-45%, -50%);
    opacity: 1;
    filter: drop-shadow(0px 1px 0.5px rgba(1,2,2,0.45));
    background-image: linear-gradient(0deg, #d8d8d8 0%, #f2f2f2 100%);
    border: 1px solid #e3e3e3;
}

.carousel-control-next{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top: 50%;
    right: 0;
    transform: translate(45%, -50%);
    opacity: 1;
    filter: drop-shadow(0px 1px 0.5px rgba(1,2,2,0.45));
    background-image: linear-gradient(0deg, #d8d8d8 0%, #f2f2f2 100%);
    border: 1px solid #e3e3e3;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    color: black;
    background: none;
    font-size: 28px;
    line-height: 28px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev-icon i{
    margin-top: 2px;
}

.carousel-control-next-icon i{
    margin-top: 2px;
}

.shadow{
    margin-top: 10px;
}

.service{
    background: #fff;
    padding: 60px 30px ;
    border-bottom: 1px solid #E9E9E9;
}

.service-item__name{
    font-size: 18px;
    color: #454545;
    font-family: "Designosaur";
}

.feature{
    padding: 40px;
    background: white;
    border-bottom: 1px solid #E9E9E9;
}

.feature__header{
    font-size: 20px;
    color: #454545;
    font-family: "Designosaur";
}


.feature-item{
    cursor: pointer;
}

.feature-item__icon{
    margin-right: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    font-size: 13px;
    border-radius: 100%;
    border: 2px solid #8a8a8a;
    color: #8a8a8a;
}

.feature-item__content{
    line-height: 34px;
    color: #dd8c5c;
    font-family: "Arial";
}
.screenshot{
    background-color:#fff ;
    padding: 40px;
    border-bottom: 1px solid #E9E9E9;
}

.screenshot__title{
    font-size: 20px;
    color: #454545;
    margin-bottom: 20px;
    font-family: "Designosaur";
}

.screenshot__item{
    position: relative;

}

.screenshot__item--overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 2px;
    left: 2px;
}

.testimonial{
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 40px;
}

.testimonial__title{
    font-size: 18px;
    color: #454545;
    font-family: "Designosaur";
    margin-bottom: 15px;
}

.testimonial-item__content{
    font-size: 18px;
    line-height: 25px;
    color: #8c8c8c;
    font-style: italic;
    font-family: "Arial";
    text-align: center;
    padding: 40px;
    border: 1px solid #E9E9E9;
    border-radius: 20px;
    position: relative;

}

.testimonial-item__content::after{
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-right: 1px solid #e9e9e9;
    bottom: -20px;
    background: #fff;
    left: 35px;
    z-index: 1;
}

.testimonial-item__content::before{
    
    position: absolute;
    z-index: 2;
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    bottom: -20px;
    left: 25px;
    transform: rotate(45deg);
    transform-origin: bottom right;
    border-bottom: 1px solid #e9e9e9;;
}

.testimonial-item__author{
    font-size: 12px;
    line-height: 18px;
    color: #8c8c8c;
    font-family: "Arial";
    margin-top: 12px;
    margin-left: 65px;
    
}

.testimonial-item__author span{
    font-style: italic;
    color: #bdbdbd;
}

.testimonial__buttons{
    text-align: center;
}
.testimonial__buttons span{
    margin: 0 20px;
}

.prefooter{
    padding: 40px;
    background-image: url(images/footerbg.png)
}

.prefooter-item__title{
    font-size: 18px;
    color: #cecece;
    font-family: "Designosaur";
}

.prefooter-item__content{
    font-size: 12px;
    
}


.payment img{
    width: 34px;
    height: 30px;
    display: inline-block;
    margin-right: 3px;
}

.prefooter .logo__icon{
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
}
.prefooter .logo__name{
    color: #8c8c8c;
}

.prefooter .shadow{
    margin-top: 0;
}

.footer{
    padding: 20px 40px;
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .copyright{
   color: #8b8b8b;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.footer .copyright span{
    font-style: italic;
    color: #E18E5D;
}

.footer .social-media{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.social-media-icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.social-media-icon img:last-child{
    display: none;
}

.social-media-icon:hover img:first-child{
    display: none;
}

.social-media-icon:hover img:last-child{
    display: block;
}

.footer .social-media span{
    cursor: pointer;
    display: block;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #454545;
}

.footer .social-media span i{
    font-size: 18px;
    color: #222;
}

.footer .social-media span:hover{
    background: #626161;
}

